*{
    margin: 0;
    padding: 0;
}

body {
    background: #737979;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    border: 2px red;
}
#topo{
    width: 100%;
    height: 200px;	
    position: absolute;
}
#logo{
    position: relative;
    border-radius: 45px;
    margin-top: 15px;
    margin-left: 15px;
}

#menu{
    text-align: right;
    position: relative;
    float: right;
    margin-top: 80px;
}
.links{
    
    font-size: 20px;
    color: papayawhip;
    text-decoration: none;
    background-color: slategrey;
    margin-top: 15px;
    margin-right: 15px;
    padding: 15px;
    position: static;
}
a:hover{
    background-color: #24C7C4;    
}
h1{
    font-size: 120px;
    display: inline;
    color: papayawhip;
}
h2{
    font-size: 60px;
    margin-top: 0;
    margin-left: 0;
    padding-right: 15px;
    text-align: right;
    color: papayawhip;
}
#introducao{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    color: papayawhip;
}
#principal{
    width: 100%;
    height: 1200px;
 }
h4 {
    font-size: 80px;
    text-align: center;
    margin: 30px;
    color: papayawhip;
}
ul {
    display: flex;
}
.projetos{
    width: 20%;
    height: 300px;
    margin: 1%;
}
.rodape {
     background-color: #151515;
     color:#6E6E6E;
     text-align: center;
     padding: 25px;
}
form{
     text-align: center;
     padding: 40px;
     margin: 150px 800px;
     background-color: rosybrown;
     font-size: 20px;
     
}
form input{
    padding: 10px;
}
.projeto-foto{
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
}
.texto-projeto{
    text-align: center;
    font-size: 24px;
    margin: 20px;
    color:papayawhip;
}
